cicd-test/target/classes/cicd-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2c82a768-eca7-49ca-a094-b5cc64396033" basePath="/" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-testFlow" doc:id="cace1ca2-20e0-43a6-9796-88108b37fcf3" >
		<http:listener doc:name="Listener" doc:id="0bab93fb-4525-42eb-af54-cf51062f5552" config-ref="HTTP_Listener_config" path="/hi"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="a876fc52-a2be-44b7-8151-82dd47d5b2ab" />
	</flow>
</mule>
